<domain type='kvm'>
  <name>{{ item.name }}</name>
  <uuid>{{ lookup('lines', 'uuidgen') }}</uuid>
  <memory unit='GiB'>{{ item.memory_size | default(default_memory_size) }}</memory>
  <currentMemory unit='GiB'>{{ item.memory_size | default(default_memory_size) }}</currentMemory>
  <vcpu placement='static'>{{ item.vcpu | default(default_vcpu) }}</vcpu>
  <os>
    <type arch='{{ item.arch | default("x86_64")}}' machine='pc'>hvm</type>
    <boot dev='hd'/>
  </os>
  <sysinfo type='fwcfg'>
    <entry name='opt/com.example/name'>example value</entry>
    <entry name='opt/com.coreos/config' file='{{ image_dir }}/{{ item.name }}-config.ign'/>
  </sysinfo>
  <features>
    <acpi/>
    <apic/>
    <vmport state='off'/>
  </features>
  <cpu mode="host-passthrough" check="none" migratable="on">
  </cpu>
  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ image_dir }}/{{ item.name }}-expanded.qcow2'/>
      <target dev='vda' bus='virtio'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x07' function='0x0'/>
    </disk>
    <interface type='bridge'>
      <mac address='{{ mac }}{{ range(10, 99) | random }}:{{ range(10, 99) | random }}:{{ range(10, 99) | random }}'/>
      <source bridge="virbr0"/>
      <model type='virtio'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x03' function='0x0'/>
    </interface>
    <serial type='pty'>
      <target port='0'/>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
    <channel type='unix'>
      <target type='virtio' name='org.qemu.guest_agent.0'/>
      <address type='virtio-serial' controller='0' bus='0' port='1'/>
    </channel>
    <channel type='spicevmc'>
      <target type='virtio' name='com.redhat.spice.0'/>
      <address type='virtio-serial' controller='0' bus='0' port='2'/>
    </channel>
    <input type='tablet' bus='usb'>
      <address type='usb' bus='0' port='1'/>
    </input>
    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>
    <graphics type='spice' autoport='yes'>
      <listen type='address'/>
      <image compression='off'/>
    </graphics>
    <sound model='ich6'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x0'/>
    </sound>
    <video>
      <model type='qxl' ram='65536' vram='65536' vgamem='16384' heads='1' primary='yes'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x0'/>
    </video>
    <memballoon model='virtio'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x08' function='0x0'/>
    </memballoon>
  </devices>
</domain>
